@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  @apply max-w-none !leading-7 sm:text-lg sm:!leading-9 md:text-xl;
}

[data-rehype-pretty-code-figure] {
  @apply relative;
}

[data-rehype-pretty-code-title] {
  @apply mt-0 inline-flex h-12 items-center rounded-tl-md rounded-tr-md;
  @apply border-t-2 border-indigo-500 bg-[--tw-prose-pre-bg] px-4
    text-sm dark:bg-[--tw-prose-invert-pre-bg];
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-tl-none;
}

[data-rehype-pretty-code-title] ~ [data-copy] {
  @apply top-16;
}

[data-copy] {
  @apply absolute right-4 top-4 rounded-md border border-gray-500 bg-white p-2 text-sm text-gray-900 transition-all hover:bg-gray-400 disabled:pointer-events-none disabled:bg-gray-400 dark:bg-gray-900 dark:text-white hover:dark:bg-gray-800 disabled:dark:bg-gray-800;
}

pre {
  @apply mx-auto overflow-auto rounded-md p-4;
  @apply scrollbar-thin scrollbar-thumb-gray-500 scrollbar-thumb-rounded;

  [data-line] {
    @apply -mx-4 px-6;
  }

  [data-highlighted-line] {
    @apply bg-white/10;
  }

  [data-highlighted-chars] {
    @apply rounded-md p-1;
  }

  mark {
    @apply bg-gray-800 text-inherit;
  }
}

code {
  @apply text-base !leading-loose md:text-base;

  &[data-line-numbers] {
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);

      @apply mr-4 inline-block w-4 text-right text-gray-500;
    }
  }
}
